.item {
    color: #808B96 !important;
    font-size: 20px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: rgba(0,0,0,0);
    border-color: #808B96;
    transition: all 1s ease;
    position: relative;
    text-align: center;
}
.item:hover {
    color: #fff !important;
}
div.col-md-4{
    padding-right: 2px;
    padding-left: 3px;
}
h1{
    padding: 10px 0 50px ;
}